# Folders.
*build*/
*product*/
*todo*/
*install*/

# Temporal
*.TMP
*.tmp

# Python
*.idea

# Docs.
*Docs*/
*docs*/

# User config
CMakeLists.txt.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Orig
*.orig
